/java/bin/
/java/hw1/.idea/
/java/hw1/hw1.iml
/java/hw1/out/
/java/lw1/.idea/
/java/lw1/lw1.iml
/java/lw1/out/
/.metadata/
/java/cw2/.idea/
/java/cw2/cw2.iml
/java/cw2/out/
/java/lw1Simple/.idea/
/java/lw1Simple/lw1Simple.iml
/java/lw1Simple/out/
/java/cw3/.idea/
/java/cw3/cw3.iml
/java/cw3/out/
/java/lw2/.idea/
/java/lw2/lw2.iml
/java/lw2/out/
/java/lw3/.idea/
/java/lw3/lw3.iml
/java/lw3/out/
/java/cw4/.idea/
/java/cw4/cw4.iml
/java/cw4/out/
/java/lw4/.idea/
/java/lw4/lw4.iml
/java/lw4/out/