* {
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 80%;
	min-height: 100%;
	margin: 0 auto;
	font-size: 30px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}