body {
	background-color: lightgreen;
}
article {
	padding: 10px;
	margin: 10px;
	background-color: forestgreen;
}
img {
	height: 150px;
	width: auto;
}
h1 {
	font-size: 2.5em;
	font-weight: bold;
}
h2 {
	font-size: 2em;
}
p {
	font-size: 1.2em;
}
a {
	display: block;
}
a:link {
	color: darkblue;
}
a:visited {
	color: darkgreen;
}
a:focus {
	color: #123456;
}
a:hover {
	color: #789456;
}
a:active {
	color: #456985;
}


