body {
	background-color: lightgreen;
	font-family: 'Mali', cursive, sans-serif;

}
article {
	padding: 10px;
	margin: 10px;
	background-color: forestgreen;
}
img {
	height: 150px;
	width: auto;
}
h1 {
	font-size: 2.5em;
	font-weight: bold;
	
	/* font-family: Calibri, Arial, Tahoma; */
	/* font-family: sans-serif; - web safe font, last resort */
	/* https://fonts.google.com; */
}
h2 {
	font-size: 2em;
	font-family: 'Charmonman', cursive;
}
p {
	font-size: 1.2em;
	font-family: 'Pacifico', cursive;
}
a {
	display: block;
	font-family: 'Dancing Script', cursive;
}
a:link {
	color: darkblue;
	font-weight: bold;
}
a:visited {
	color: darkblue;
}
a:focus {
	color: #123456;
}
a:hover {
	color: #789456;
}
a:active {
	color: #456985;
}


